<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CadastroUsuário</title>
    <link rel="stylesheet" href="/styles/CadastroUsuario2.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body style=" background-color: #f8f9fa;">
    <nav id="navbar" class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="#">
            <img src="/images/icon.jpeg" width="30" height="30" class="d-inline-block align-top" alt="">
            WEB Barber - Nome da Barbearia
        </a>
    </nav>
    <div id="text">
        <h4>Cadastro Cliente</h4>
    </div>

    <div id="container">
        <div id="box">
            <div id="centralizar">
                <p> E-mail</p>
                <input type="text" name="" id="btnnome" placeholder="xxxxxxxxxx@xxxx.com">
                <p id="down"> Senha</p>
                <input type="text" name="" id="btnnome" placeholder="***************">
                <p id="down">Confirmar Senha</p>
                <input type="text" name="" id="btnnome" placeholder="***************">

                <a id="botaoproximo" href="/">Cadastrar</a>
            </div>
        </div>
    </div>
</body>

</html>