<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CadastroUsuário</title>
    <link rel="stylesheet" href="/styles/CadastroUsuario.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body style=" background-color: #f8f9fa;">
    <nav id="navbar" class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="#">
            <img src="/images/icon.jpeg" width="30" height="30" class="d-inline-block align-top" alt="">
            WEB Barber - Nome da Barbearia
        </a>
    </nav>
    <div id="text">
        <h4>Cadastro Cliente</h4>
    </div>

    <div id="container">
        <div id="box">
            <div id="centralizar align-items-center">
                <p> Nome completo</p>
                <input type="text" name="" id="btnnome" placeholder="xxxxxx xxxxxx xxxxxx">
                <p id="down"> Telefone</p>
                <input type="text" name="" id="btnnome" placeholder="(00) 0 0000-0000">
                <p id="down"> CPF</p>
                <input type="text" name="" id="btnnome" placeholder="000.000.000-00">
                <p id="down"> Data de nascimento</p>
                <input type="text" name="" id="btnnome" placeholder="00/00/0000">
                <p id="down"> CEP</p>
                <input type="text" name="" id="btnnome" placeholder="00.000-000">

                <a id="botaoproximo" href="/etapa2CadastroCliente">Proximo ></a>
            </div>
        </div>
    </div>
</body>

</html>