<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu Cliente</title>
    <link rel="stylesheet" href="styles/MenuCliente.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body style=" background-color: #f8f9fa;">
    <nav id="navbar" class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="#">
            <img src="images/icon.jpeg" width="30" height="30" class="d-inline-block align-top">
            WEB Barber - Nome da Barbearia
        </a>
    </nav>
    <div id="text">
        <h4>Menu <%= (response[0] !=undefined ? `- ${response[0].Nome}` : "" ) %> (cliente)</h4>
    </div>

    <div id="container">
        <div id="box">
            <div id="centralizar">
                <button id="botaoAgendarHorario" type="submit">Agendar Horário</button>
                <button id="botaoVisualizarAgendamento" type="submit">Visualizar Agendamento</button>
                <button id="botaoEditarDados" type="submit">Editar Dados</button>
                <button id="botaoSair" type="submit">Sair</button>
            </div>
        </div>
    </div>
</body>

</html>