<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="styles/index.css">
    <title>WEB-Barber</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light w-100">
        <div class=" container-fluid ">
            <!-- Logo -->
            <a class="navbar-brand " href="# ">
                <img src="images/icon.jpeg "> WEB-Barber
            </a>

            <!-- Opções -->
            <div class="topnav" id="myTopnav">
                <ul class="navbar-nav mb-2 ">
                    <li class="nav-item ">
                        <a class="nav-link active " aria-current="page " href="#sobre">Sobre nós</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link active " aria-current="page " href="# ">Para Parceiros</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link active " aria-current="page " href="# ">Para Clientes</a>
                    </li>
                    <a href="javascript:void(0); " class="icon " onclick="myFunction() ">
                        <i class="fa fa-bars "></i>
                    </a>
                </ul>
            </div>
        </div>
    </nav>

    <main>
        <div class="main-title ">
            <p id="sobre">WEB-Barber</p>
        </div>
        <div class="main-text ">
            <p>Por que WEB-Barber?</p>
            <p>WEB-Barber vem de uma ideia criada por um grupo de universitários que possuiam em mente a criação de um
                sistema(WEB) responsável por interligar clientes e barbearias(Barber) de regiões mais próximas entre si.
                Com esse sistema seria possível
                agilizar o processo de organização do prestador de serviços capilares e de seus clientes, além de
                garantir um feedback e uma divulgação das barbearias, com os horários e prestadores disponíveis delas,
                poupando tempo também do cliente,
                que não precisaria sair de casa procurando por barbearias e disponibilidade.</p>
            <p>O corte de cabelo é um complemento do estilo, sendo ele, imprescindível para a causa de uma boa
                impressão, então, não deixe de última hora, agende com a gente agora!!!</p>
        </div>
        <div class="row">

            <!-- CADASTRO -->
            <button type="button" class="main-button btn btn-outline-success" id="defineUsuario" data-toggle="modal"
                data-target="#BarbeiroOuCliente">
                Cadastre-se
            </button>

            <div class="modal fade" id="BarbeiroOuCliente" tabindex="-1" role="dialog"
                aria-labelledby="BarbeiroOuClienteTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLongTitle">Cadastrar: </h5>
                        </div>
                        <div class="modal-body d-flex justify-content-between">
                            <div id="Barbeiro" class="w-100">
                                <a class="main-button btn btn-outline-success" href="/cadastrarBarbearia">Barbearia</a>
                            </div>
                            <div id="Cliente" class="w-100">
                                <a class="main-button btn btn-outline-success" href="/cadastrarCliente">Cliente</a>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- LOGIN -->
            <button type="button" class="main-button btn btn-outline-success" id="defineUsuarioLogin"
                data-toggle="modal" data-target="#BarbeiroOuClienteLogin">
                Entrar
            </button>

            <div class="modal fade" id="BarbeiroOuClienteLogin" tabindex="-1" role="dialog"
                aria-labelledby="BarbeiroOuClienteTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLongTitle">Login: </h5>
                        </div>
                        <div id="step1" class="modal-body d-flex justify-content-between">
                            <div id="Barbeiro" class="w-100">
                                <a class="main-button btn btn-outline-success btnEndStep1"
                                    id="logarBarbearia">Barbearia</a>
                            </div>
                            <div id="Cliente" class="w-100">
                                <a class="main-button btn btn-outline-success btnEndStep1" id="logarCliente">Cliente</a>
                            </div>
                        </div>

                        <div id="barbeariaLogin" class="modal-body d-flex justify-content-between w-100 hideMe">
                            <form action="/menuCliente" method="post" class="w-100">
                                <div class="form-group row">
                                    <label for="staticCNPJ" class="col-sm-2 col-form-label">CNPJ</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" name="documento" required
                                            id="staticCNPJ" placeholder="XX.XXX.XXX/0001-XX">
                                    </div>
                                </div>
                                <br>
                                <div class="form-group row">
                                    <label for="inputPassword" class="col-sm-2 col-form-label">Senha</label>
                                    <div class="col-sm-10">
                                        <input type="password" required class="form-control" name="pass"
                                            id="inputPassword" placeholder="Password">
                                    </div>
                                </div>
                                <br>
                                <div class="form-group row">
                                    <div class="col-sm-12 d-flex justify-content-center">
                                        <button type="submit" class="btn btn-success w-25"
                                            style="margin-right:2%;">Entrar</button>
                                        <button type="button" class="btn btn-danger w-25"
                                            data-bs-dismiss="modal">Cancelar</button>
                                    </div>
                                </div>
                                <input type="text" value="0" name="tipoUser" class="d-none">
                            </form>
                        </div>

                        <div id="clienteLogin" class="modal-body d-flex justify-content-between w-100 hideMe">
                            <form action="/menuCliente" method="post" class="w-100">
                                <div class="form-group row">
                                    <label for="staticCPF" class="col-sm-2 col-form-label">CPF</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" name="documento" required id="staticCPF"
                                            placeholder="XXX.XXX.XXX-XX">
                                    </div>
                                </div>
                                <br>
                                <div class="form-group row">
                                    <label for="inputPassword" class="col-sm-2 col-form-label">Senha</label>
                                    <div class="col-sm-10">
                                        <input type="password" class="form-control" required name="pass"
                                            id="inputPassword" placeholder="Password">
                                    </div>
                                </div>
                                <br>
                                <div class="form-group row">
                                    <div class="col-sm-12 d-flex justify-content-center">
                                        <button type="submit" class="btn btn-success w-25"
                                            style="margin-right:2%;">Entrar</button>
                                        <button type="button" class="btn btn-danger w-25"
                                            data-bs-dismiss="modal">Cancelar</button>
                                    </div>
                                </div>
                                <input type="text" value="1" name="tipoUser" class="d-none">
                            </form>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="help-text">
            <h1>Precisa de ajuda?</h1>
            <p>Contate-nos por e-mail <b>suporte@webbarber.com</b> ou procure ajuda na lista de possíveis soluções, que
                possui algumas instruções, e que pode te ajudar a encontrar o que precisa.</p>
            <a class="main-button btn btn-outline-success" href="#">Possíveis Soluções</a>
            <a class="main-button btn btn-outline-success" href="#">Suporte</a>
        </div>


    </main>

    <footer>
        <!-- Anything -->
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
        integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
        integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
        crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        function myFunction() {
            var x = document.getElementById("myTopnav");
            if (x.className === "topnav") {
                x.className += " responsive";
            } else {
                x.className = "topnav";
            }
        }

        $(document).ready(function () {
            $('#defineUsuario').on('click', function () {
                $('#BarbeiroOuCliente').modal('show');
            });
            $('#defineUsuarioLogin').on('click', function () {
                $('#BarbeiroOuClienteLogin').modal('show');
            });

            $(".btnEndStep1").click(function () {
                $("#step1").addClass('hideMe');
                if ($(this).attr('id') == "logarBarbearia") {
                    $("#barbeariaLogin").removeClass('hideMe');
                } else if ($(this).attr('id') == "logarCliente") {
                    $("#clienteLogin").removeClass('hideMe');
                }
            });
            $("#defineUsuarioLogin").click(function () {
                $("#step1").removeClass('hideMe');
                $("#barbeariaLogin").addClass('hideMe');
                $("#clienteLogin").addClass('hideMe');
            });

        });
    </script>
</body>

</html>